*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contactContainer{
    max-width: 100%;
    
}

.contactUsContainer{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 100px;
    color: white;
}

.contactHeading{
    margin-bottom: 20px;
    font-size: 33px;
}

.contactContent{
    max-width: 1000px;
    margin: 40px auto 100px auto;
    text-align: justify;
}